body {
    font-family: sans-serif;
    font-size: 16px;
}

noscript {
    color: red;
}

.center .recipe-list {
    margin-top: 50px;
    margin-left: 25%;
}

.row {
    margin: 0;
}

.header-topline {
    background-color: #11cc42;
    //background-color: #4CAF50;
    color: #ffffff;
    padding: 10px 0;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    font-size: 20px;
    margin: 5px;
}

.header-topline a {
     color: #ffffff;
 }

.header-topline a {
    text-decoration: none;
}

.header-topline a:hover{
    color: #ffffff;
    text-decoration: underline;
}

.auth {
    float: right;
}

.lang {
    float: left;
}

.logo h1 {
    display: inline;
    color: #11cc42;
    //color: #4CAF50;
    font-family: cursive;
    letter-spacing: -1px;
}

img {
    width: 150px;
    height: 125px;
}

form {
    margin-bottom: 0;
}

button {
    background-color: #11CC42;
    //background-color: #4CAF50;
    color: #ffffff;
    border-radius: 5px;
}

section h3 {
    margin-top: 0;
    text-align: center;
}

button:hover {
    background-color: #0c8733;
}

.group-buttons {
    margin-left: 10%;
    margin-right: 10%;
}

.group-buttons button {
    display: block;
    margin-bottom: 1px;
    width: 100%;
    height: 35px;
    font-size: 20px;
}

.search input {
    width: 350px;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
}

.search button {
    width: 75px;
    height: 35px;
    border-radius: 5px;
}

.search {
    margin-left: 10px;
}

.info {
    margin-left: 10px;
    margin-top: 50px;
    margin-right: 25%;
}

#search-error {
    color: red;

}

footer {
    margin-top: 35px;
    text-align: center;
}

@media (max-width: 800px) {
    .search input {
        width: 225px;
    }

    .search {
        margin-left: 0;
    }

    .info {
        margin-left: 0;
        margin-top: 50px;
        margin-right: 10px;
    }
}

/*drug list*/
.drug-list h3 {
    text-align: center;
}

/*pharmacist page*/
.logOut {
    float: right;
}

.greeting {
    text-align: center;
}

.pharmacist-orderlist .btn-success {
    padding: 5px 10px;
}

.drug-form p{
    color: red;
    margin: 0;
    display: inline;
}

.drug-form .btn-success {
    padding: 5px 10px;
}

.form-wrapper p {
    color: red;
    margin: 0;
}

.form-wrapper2 p {
    color: red;
    margin: 0;
    letter-spacing: -1px;
    font-size: 14px;
}

/*client page*/
.service-list {
    margin-top: 35px;
}

/*doctor page*/
.recipe-list .btn-success {
    padding: 2px 9px;
    height: 37px;
}

.service-list button {
    width: 100%;
    height: 75px;
    margin: auto 0 10px 0%;
    font-size: 18px;
    border-radius: 15px;
}

.pharm-groups button {
    display: block;
    margin-bottom: 1px;
    width: 30%;
    height: 35px;
    font-size: 20px;
    margin-left: 35%;
    margin-right: 35%;
}

.recipe-application .form-group {
    width: 38%;
    margin-left: 31%;
    margin-right: 31%;
    margin-top: 50px;
}

.recipe-application button {
    margin-top: 10px;
    margin-left: 47%;
}

/*doctor page*/
.recipe-list h3 {
    text-align: center;
}

.drug-form {
    margin-left: 20%;
    margin-right: 40%;
}

.drug-form button{
    width: 100px;
    height: 35px;
    margin-left: 34%;
    margin-bottom: 50px;
}

/*sign in*/
.form-wrapper {
    margin:25% auto;
    width: 100%;
    height:50%;
    position:relative;
    border:1px solid #C5C8CC;
    background-color: #F8F9F1;
    text-align:center;
    border-radius:5px;
}

.form-wrapper:before {
    content:"";
    display:block;
    height:37px;
    border-bottom:1px solid #C5C8CC;
    border-radius:5px 5px 0 0;
    box-shadow:inset 2px 2px 0 #FFFFFF;
    margin-bottom: 35px;
}

.form-wrapper input {
    height:40px;
    width: 300px;
    font-size: 17px;
    margin:0 auto 20px auto;
    padding-left:15px;
    display:block;
    border:1px solid #C5C8CC;
    border-radius: 5px;
    background-color: #E4E6E9;
}

.form-wrapper button {
    cursor:pointer;
    width:175px;
    height:44px;
    color:#fff;
    font-size:20px;
    border:none;
    position:relative;
    background-color: #11CC42;
    background-size:213px 41px,215px 43px;
    border-radius:5px;
}

.form-wrapper button:hover {
    opacity:0.9;
    background-color: #0c8733;
}

.form-wrapper .linker {
    position:absolute;
    width:240px;
    height:40px;
    top:18px;
    left:10px;
}

.linker .ring {
    position:relative;
    display:inline-block;
    border:1px solid #A3A4A7;
    background-color: #DCDEE1;
    height:12px;
    width:12px;
    border-radius: 6px;
    margin-right:33px;
}

.linker .ring:last-child {
    margin-right:0;
}

.linker .ring:before {
    content:"";
    position:absolute;
    bottom:-25px;
    left:-1px;
    border:1px solid #A3A4A7;
    background-color: #DCDEE1;
    height:12px;
    width:12px;
    border-radius: 6px;
}

.linker .ring:after{
    content:"";
    position:absolute;
    top:2px;
    left:2px;
    width:6px;
    height:30px;
    border:1px solid #CACACA;
    background-color: #FFFFFF;
    border-radius: 3px;
}

/*sign up*/
.form-wrapper2 {
    width: 100%;
    height:89%;
    position:relative;
    border:1px solid #C5C8CC;
    background-color: #F8F9F1;
    text-align:center;
    border-radius:5px;
}

.form-wrapper2:before {
    content:"";
    display:block;
    height:37px;
    border-bottom:1px solid #C5C8CC;
    border-radius:5px 5px 0 0;
    box-shadow:inset 2px 2px 0 #FFFFFF;
    margin-bottom: 30px;
}

.form-wrapper2 input {
    height:40px;
    width: 300px;
    font-size: 17px;
    margin:0 auto 10px auto;
    padding-left:15px;
    display:block;
    border:1px solid #C5C8CC;
    border-radius: 5px;
    background-color: #E4E6E9;
}

.form-wrapper2 button {
    margin-top: 20px;
    cursor:pointer;
    width:200px;
    height:44px;
    color:#fff;
    font-size:20px;
    border:none;
    position:relative;
    background-color: #11CC42;
    background-size:213px 41px,215px 43px;
    border-radius:5px;
}

.form-wrapper2 button:hover {
    opacity:0.9;
    background-color: #0c8733;
}

.form-wrapper2 .linker {
    position:absolute;
    width:240px;
    height:40px;
    top:18px;
    left:10px;
}

.page_not_found #code {
    text-align: center;
    font-size: 200px;
    margin: 0;
}

.page_not_found #message {
    text-align: center;
    font-size: 75px;
}

.server-error #code {
    text-align: center;
    font-size: 125px;
}

.server-error #message {
    text-align: center;
    font-size: 70px;
}

li .btn-success {
    display: inline;
    float: right;
    height: 35px;
    margin-top: -29px;
    width: 75px;
}

.btn-lg {
    height: 40px;
    padding: 5px 15px;
}

.recipe-description .btn-lg {
    margin-left: 40%;
}

.modal-header {
    color: #FFFFFF;
    background-color: #5cb85c;
}

.modal-footer .btn-lg {
    margin-right: 39%;
}

.modal-content {
    margin-top: 25%;
}